Package: com.cleaner.appcleaner
Name: AppCleaner
Version: 1.0.0
Architecture: iphoneos-arm
Description: 一键清除当前App的沙盒、Keychain、Cookie等数据
Maintainer: Cleaner Team
Author: Cleaner Team
Section: Tweaks
Depends: mobilesubstrate, preferenceloader
Priority: optional